*.swp
*.bin
*.o
src/generated/*
src/symbols_0x80000.*
src/symbols_0x7666c.*
gamefiles/*
!gamefiles/destination
gamefiles/destination/*
!gamefiles/destination/README
!gamefiles/source
gamefiles/source/*
!gamefiles/source/README
!release/
release/*
!release/README

