*.swp
*.bin
*.o
src/road.s
src/symbols.*
gamefiles/*
!gamefiles/destination
gamefiles/destination/*
!gamefiles/destination/README
!gamefiles/source
gamefiles/source/*
!gamefiles/source/README
release/lotus_ste.st
